<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='width=device-width,initial-scale=1'/>

    <title>DFM</title>
    <link rel='stylesheet' href='lib/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='main.css' />
    <script src='lib/requirejs/require.js'></script>

    <script>
      require({
          paths: {
            underscore: 'lib/lodash/lodash.compat',
            jquery: 'lib/jquery/jquery',
            blockui: 'lib/blockui/jquery.blockUI',
            bootstrap: 'lib/bootstrap/bootstrap',
            backbone: 'lib/backbone/backbone',
            handlebars: 'lib/handlebars/handlebars',
            text: 'lib/requirejs-text/text',
            hbs: 'lib/require-handlebars-plugin/hbs'
          },
          shim: {
            underscore : {
              exports: '_',
            },
            bootstrap : {
              deps: ['jquery'],
              exports: '$'
            },
            backbone : {
              deps: ['jquery', 'underscore'],
              exports: 'Backbone'
            },
            handlebars: {
              exports: 'Handlebars'
            }
          }
        },['js/app'], function(App){
        new App({
          el: 'body',
        });
      });
    </script>

  </head>
  <body>
    <!-- App goes here -->
  </body>
</html>
