body {
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif; }

#app .sm-disp-heading {
  display: none;
  border-bottom: 1px solid gray; }
  #app .sm-disp-heading .company-name > * {
    display: inline; }
#app #left-hand-nav {
  position: fixed;
  top: 15px;
  left: 20px;
  height: 96%;
  width: 300px;
  border-right: 1px solid gray; }
  #app #left-hand-nav .nav li {
    background-color: #def;
    float: right;
    margin-right: 25px;
    margin-bottom: 5px;
    width: 135px; }
#app #main-well {
  overflow-y: scroll;
  max-width: 800px;
  margin-left: 350px;
  padding-bottom: 200px; }
  #app #main-well > div {
    margin: 15px; }
  #app #main-well .content {
    font-size: 16px; }
#app .company-heading > * {
  display: inline-block; }
#app .company-heading .dfm-logo {
  margin: 8px;
  width: 124px;
  height: 124px; }
#app .company-heading .company-name {
  vertical-align: middle; }
#app .company-heading .primary-name {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: -15px; }
#app .company-heading .secondary-name {
  font-size: 24px; }
#app .company-heading .primary-name, #app .company-heading .secondary-name {
  text-align: center; }

.spinning-logo {
  width: 80px;
  margin-right: 20px; }
