@media screen and (max-width: 960px) {
  #app #left-hand-nav {
    display: none; }
  #app #main-well {
    margin-left: 0px; }
  #app .sm-disp-heading {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px; }
    #app .sm-disp-heading .dfm-logo {
      margin: 4px;
      width: 150px;
      height: 150px; }
    #app .sm-disp-heading .company-name > * {
      font-size: 32px; }
    #app .sm-disp-heading .secondary-name {
      margin-left: 10px; }
  #app #Contact .field-note {
    line-height: 14px;
    margin-bottom: 6px; }
  #app #Technology .technology {
    width: 75%;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (max-width: 360px) {
  #app .sm-disp-heading .dfm-logo {
    width: 34px;
    height: 34px; }
  #app .sm-disp-heading .company-name > * {
    font-size: 24px; } }
