<div id='app'>
  <div class='sm-disp-heading'>
    <div class='company-heading'>
      <img class='dfm-logo' src='./assets/dfm-logo-small.png' />
      <div class='company-name'>
        <div class='primary-name'>DFM</div>
        <div class='secondary-name'>Web Studio</div>
      </div>
    </div>
  </div>
  <div id='left-hand-nav'></div>
  <div id='main-well'></div>
</div>