<div class='alerts'></div>

<div class='row form-group'>
	<div class='col-md-3 col-md-offset-2'>
		<div class='field-name control-label'>Your Name</div>
	</div>
	<div class='col-md-5'>
		<input type='text' placeholder='e.g., Bart' class='name form-control'></input>
	</div>
</div>

<div class='row form-group'>
	<div class='col-md-3 col-md-offset-2'>
		<div class='field-name control-label'>Organization</div>
		<div class='field-note'>(Optional)</div>
	</div>
	<div class='col-md-5'>
		<input type='text' placeholder='e.g., Nestlé' class='organization form-control'></input>
	</div>
</div>

<div class='row form-group'>
	<div class='col-md-3 col-md-offset-2'>
		<div class='field-name control-label'>Email</div>
	</div>
	<div class='col-md-5'>
		<input type='text' placeholder='e.g., bsimpson@domain.com' class='email form-control'></input>
	</div>
</div>

<div class='row form-group'>
	<div class='col-md-3 col-md-offset-2'>
		<div class='field-name control-label'>Tell us how we can help you</div>
	</div>
	<div class='col-md-5'>
		<textarea class='description form-control'></textarea>
	</div>
</div>

<div class='row'>
	<div class='col-md-2 col-md-offset-8'>
		<a class='btn btn-primary send'>Send</a>
	</div>
</div>