<div class='company-heading'>
  <img class='dfm-logo' src='./assets/dfm-logo-small.png' />
  <div class='company-name'>
    <nobr>
      <div class='primary-name'>DFM</div>
      <div class='secondary-name'>Web Studio</div>
    </nobr>
  </div>
</div>
<ul class='nav nav-pills nav-stacked'>
  {{#each sections}}
    <li><a href='#{{name}}'>{{name}}</a></li>
  {{/each}}
</ul>