body {
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif;
}

#app {

  .sm-disp-heading {
    display : none;
    .company-name > * {
      display : inline;
    }
    border-bottom: 1px solid gray; 
  }

  #left-hand-nav {
    position : fixed;
    top : 15px;
    left : 20px;
    height : 96%;
    width : 300px;
    border-right: 1px solid gray;

    .nav li {
      background-color: #def;
      float: right;
      margin-right: 25px;
      margin-bottom: 5px;
      width: 135px;
    }
  }
  #main-well {
    overflow-y: scroll;
    max-width: 800px;
    margin-left: 350px;
    padding-bottom: 200px;
    & > div {
      margin : 15px;
    }
    .content {
      font-size: 16px;
    }
  }

  .company-heading > * {
    display: inline-block;
  }
  .company-heading {
    .dfm-logo {
      margin: 8px;
      width: 124px;
      height: 124px;
    }
    .company-name{
      vertical-align : middle;
    }
    .primary-name {
      font-size: 54px;
      font-weight: bold;
      margin-bottom: -15px;
    }
    .secondary-name {
      font-size: 24px;
    }
    .primary-name, .secondary-name {
      text-align: center;
    }
  }
  
}

.spinning-logo {
  width : 80px;
  margin-right : 20px;
}
